<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.devingotaswitch.ffrv2">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/football"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.devingotaswitch.youruserpools.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.devingotaswitch.youruserpools.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.devingotaswitch.youruserpools.RegisterUser"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.devingotaswitch.youruserpools.SignUpConfirm"
            android:label="@string/title_activity_sign_up_confirm"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.devingotaswitch.youruserpools.MFAActivity"
            android:label="@string/title_activity_mfa"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.devingotaswitch.youruserpools.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.devingotaswitch.youruserpools.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.devingotaswitch.youruserpools.VerifyActivity"
            android:label="@string/title_activity_verify"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.devingotaswitch.youruserpools.NewPassword"
            android:label="@string/title_activity_new_password"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.devingotaswitch.rankings.RankingsHome"
            android:label="Rankings"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.devingotaswitch.rankings.LeagueSettingsActivity"
            android:label="League Settings"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.devingotaswitch.rankings.PlayerInfo"
            android:label="@string/title_activity_player_info"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.devingotaswitch.rankings.ADPSimulator"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.devingotaswitch.rankings.DraftInfo"
            android:label="@string/title_activity_draft_info"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.devingotaswitch.rankings.FantasyNews"
            android:label="@string/title_activity_fantasy_news"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.devingotaswitch.rankings.ExportRankings"
            android:label="@string/title_activity_export_rankings"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.devingotaswitch.rankings.PlayerComparator"
            android:label="@string/title_activity_player_comparator"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.devingotaswitch.rankings.PlayerSorter"
            android:label="@string/title_activity_player_sorter"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.devingotaswitch.rankings.HelpActivity"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>